# Ignore Python cache files
__pycache__/
*.py[cod]

# Ignore virtual environment directories
venv/
.venv/

# Ignore Poetry lock files
poetry.lock

# Ignore logs
*.log

# Ignore environment variables file
.env
